body {
  background: linear-gradient(-45deg, #ff660c, #63b7a6);
  background-size: 13% 160%;
  animation: Gradient 5s cubic-bezier(0.26, 0.68, 0.82, 0.5) infinite;
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
    /*background: linear-gradient(-45deg, #ff660c, #63b7a6)*/
/*        transform: rotate(0deg); */
  }
  50% {
    background-position: 100% 50%;
    /*background: linear-gradient(-45deg, #ff0000, #00FF00)*/
/*        transform: rotate(90deg); */
  }
  100% {
    background-position: 0% 50%;
    /*background: linear-gradient(-45deg, #fff, #000)*/
/*        transform: rotate(180deg); */
  }
}
