body {
  background: linear-gradient(270deg, #452001, #002a3e);
  background-size: 400% 400%;
  animation: Animate 5s ease infinite;
}

@-webkit-keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.shape {
  opacity: 0.5;
  transition: 200ms;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, #b00, #53a);

  box-shadow: 0px 0px 20px #f00;
}
