body {
  background-color: #001515
}


.shape {
  opacity: 0.5;
  transition: 200ms;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  background-color: #900;
}
