/*
:root {
  --light: #efd5bc;
  --dark: #ddc3aa;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light);
  animation: Animate 20s ease infinite;
}

#canvas {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#background {
  background: linear-gradient(0deg, var(--light), #fff);
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

@-webkit-keyframes Animate {
    0%{background-color:var(--light)}
    50%{background-color:var(--dark)}
    100%{background-color:var(--light)}
}
*/
