body {
  background-color: #001515
}


.shape {

  -webkit-transition: 200ms;

  transition: 200ms;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  background-color: #900;
}
